<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".telaSemInternet"
            android:exported="false" />
        <activity
            android:name=".Foto"
            android:exported="false" />
        <activity
            android:name=".PoliticaPrivacidade"
            android:exported="false" />
        <activity
            android:name=".ListaCarneBovina"
            android:exported="false" />
        <activity
            android:name=".ListaFrango"
            android:exported="false" />
        <activity
            android:name=".ListaCarneSuina"
            android:exported="false" />
        <activity
            android:name=".ListaLegumes"
            android:exported="false" />
        <activity
            android:name=".ListaNaoPereciveis"
            android:exported="false" />
        <activity
            android:name=".AdapterPedidos"
            android:exported="false" />
        <activity
            android:name=".Pedidos"
            android:exported="false" />
        <activity
            android:name=".PopUp1"
            android:exported="false" />
        <activity
            android:name=".LocalizacaoEntrega"
            android:exported="false" />
        <activity
            android:name=".AtualizarPerfil"
            android:exported="false" />
        <activity
            android:name=".AdapterListaProdutos"
            android:exported="false" />
        <activity
            android:name=".ListaCongelados"
            android:exported="false" />
        <activity
            android:name=".Produtos"
            android:exported="false" />
        <activity
            android:name=".Pagamento"
            android:exported="false" />
        <activity
            android:name=".Adapter"
            android:exported="false" />
        <activity
            android:name=".Carrinho"
            android:exported="false" />
        <activity
            android:name=".abertura"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".criarConta"
            android:exported="false" />
        <activity
            android:name=".EsqueceuSenha"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".bemVindo"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


</manifest>